In [1]:
from modules.class_peer_group import Peer_Group

pg =  Peer_Group()
pg.add_company('AAPL')
pg.stock_data()

/home/chris/code/affinitypropagation/modules/class_peer_group.py:8: DtypeWarning: Columns (134) have mixed types. Specify dtype option on import or set low_memory=False.
  self.info_data = pd.read_csv(

,Open,High,Low,Close,Adj Close,Volume,symbol,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,,,
2013-09-16 00:00:00-04:00,14.369223,14.388235,13.939704,14.030096,NaN,543706800,AAPL,0.0,0.0,NaN
2013-09-17 00:00:00-04:00,13.962771,14.329015,13.948433,14.192180,NaN,399380800,AAPL,0.0,0.0,NaN
2013-09-18 00:00:00-04:00,14.437167,14.535975,14.358620,14.483922,NaN,456862000,AAPL,0.0,0.0,NaN
2013-09-19 00:00:00-04:00,14.671569,14.831470,14.626373,14.721440,NaN,404541200,AAPL,0.0,0.0,NaN
2013-09-20 00:00:00-04:00,14.899108,14.916250,14.525071,14.569021,NaN,699302800,AAPL,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,NaN,58953100,AAPL,0.0,0.0,NaN
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,NaN,90370200,AAPL,0.0,0.0,NaN
2023-09-13 00:00:00-04:00,176.509995,177.300003,173.979996,174.210007,NaN,84267900,AAPL,0.0,0.0,NaN
2023-09-14 00:00:00-04:00,174.000000,176.100006,173.580002,175.740005,NaN,60895800,AAPL,0.0,0.0,NaN
2023-09-15 00:00:00-04:00,176.479996,176.500000,173.820007,175.009995,NaN,109205100,AAPL,0.0,0.0,NaN

In [1]:
import pandas as pd
df_reduced = pd.read_csv('data/info_merged_reduced.csv')

In [19]:
df_reduced.columns = [x.lower().replace(" ","_") for x in df_reduced.columns]

In [21]:
df_reduced.to_csv('data/info_merged_reduced.csv')

In [10]:
df_reduced['Long Name'].astype('str')

0                                Kongsberg Gruppen ASA
1                               Lassila & Tikanoja Oyj
2                                   Nokian Renkaat Oyj
3                                  Quest for Growth NV
4                                Schloss Wachenheim AG
                             ...
11346                                   Stora Enso Oyj
11347    Athens Water Supply and Sewerage Company S.A.
11348                                  Jensen-Group NV
11349                  Jungheinrich Aktiengesellschaft
11350          Danieli & C. Officine Meccaniche S.p.A.
Name: Long Name, Length: 11351, dtype: object