In [11]:
import pandas as pd
import numpy as np
import streamlit as st
from sklearn.preprocessing import RobustScaler
from class_peer_group import peer_group
from graph import create_3d_scatterplot

add_selectbox = st.sidebar.selectbox(
    "Page Navigation",
    ("Peer Group", "Beta Calculation"),
)

# Load Data
df = pd.read_csv("Data/info_merged.csv", header=0, index_col=0)
df.reset_index(inplace=True)
df = df[df["currency"].isin(["EUR"])]
sector_selection = list(df["sector"].unique())
industry_selection = list(df["industry"].unique())

# Marketcap Bins
num = 10
labels = np.linspace(start=1, stop=num, num=num)
df["marketCap_bins"] = pd.qcut(df["marketCap"], q=num, labels=labels)

feature_select = st.multiselect("Features", df.columns, ["revenueGrowth"])
# sector_select = st.multiselect("Sector", sector_selection, ["Technology"])
industry_select = st.multiselect(
    "Industry", industry_selection, ["Software—Application"]
)
st.multiselect("Algorithm", ["1", "2", "3"])

# peer_group_user.add_company()

# Filter Data for TSNE
X = df[feature_select]
X = RobustScaler().fit_transform(X)
fig = create_3d_scatterplot(df=df, X=X)

# df = df[(df["sector"].isin(sector_select)) | (df["industry"].isin(industry_select))]
df = df[df["industry"].isin(industry_select)]

st.plotly_chart(fig, use_container_width=True)

df["Peer Group"] = False

st.data_editor(
    df,
    column_config={
        "Peer Group": st.column_config.CheckboxColumn(
            "Your favorite?",
            help="Select your **favorite** widgets",
            default=False,
        )
    },
    disabled=["widgets"],
    hide_index=True,
)

peer_group_user = peer_group()
peer_group_user.add_company(df.loc[df["Peer Group"] == True, "symbol"])
st.sidebar.dataframe(df.loc[df["Peer Group"] == True, "symbol"])

DeltaGenerator(_root_container=1, _parent=DeltaGenerator())

In [1]:
from modules.class_peer_group import peer_group

pg =  peer_group()
pg.add_company('AAPL')
pg.stock_data()

/home/chris/code/affinitypropagation/modules/class_peer_group.py:7: DtypeWarning: Columns (134) have mixed types. Specify dtype option on import or set low_memory=False.
  self.info_data = pd.read_csv(

In [1]:
import pandas as pd
pd.read_csv('data/history_merged.csv')

,Date,Open,High,Low,Close,Adj Close,Volume,symbol,Dividends,Stock Splits,Capital Gains
0,2013-09-18 00:00:00+02:00,-0.001512,-0.001512,-0.001512,-0.001512,NaN,0,0C2.BE,0.0,0.0,NaN
1,2013-09-19 00:00:00+02:00,-0.001529,-0.001529,-0.001529,-0.001529,NaN,0,0C2.BE,0.0,0.0,NaN
2,2013-09-20 00:00:00+02:00,-0.001530,-0.001530,-0.001530,-0.001530,NaN,0,0C2.BE,0.0,0.0,NaN
3,2013-09-23 00:00:00+02:00,-0.001533,-0.001533,-0.001533,-0.001533,NaN,0,0C2.BE,0.0,0.0,NaN
4,2013-09-24 00:00:00+02:00,-0.001529,-0.001529,-0.001529,-0.001529,NaN,0,0C2.BE,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20193121,2023-09-11 00:00:00-04:00,23.280001,23.639999,23.139999,23.620001,NaN,39100,ZZZ.TO,0.0,0.0,NaN
20193122,2023-09-12 00:00:00-04:00,23.440001,23.990000,23.290001,23.760000,NaN,87800,ZZZ.TO,0.0,0.0,NaN
20193123,2023-09-13 00:00:00-04:00,23.760000,24.129999,23.600000,23.920000,NaN,127400,ZZZ.TO,0.0,0.0,NaN
20193124,2023-09-14 00:00:00-04:00,24.000000,24.219999,23.660000,24.120001,NaN,27700,ZZZ.TO,0.0,0.0,NaN
20193125,2023-09-15 00:00:00-04:00,24.100000,24.240000,23.860001,24.090000,NaN,83700,ZZZ.TO,0.0,0.0,NaN